/* Admin Panel Custom css */

html[data-footer="true"] #root > footer {
    z-index: 999;
    background-color: var(--background);
}
.note-editor.note-frame {
    background-color: var(--fbc-white);
}
.accordion .submenu {
    padding-left: 1rem;
    background: #80808029;
    border-radius: 0.4rem;
}
.accordion > a {
    padding: 0.6rem.3rem;
    background: var(--background-light);
    color: var(--primary) !important;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}
.accordion.active > a {
    background: var(--background-navcolor-light);
    color: var(--primary);
}
.listicon > * {
    font-size: 16px;
    color: var(--warning);
}
/* .accordion.active .icon {
    color: #ffffff;
} */
/* .accordion__collapsible:not(:last-child) {
    border-bottom: none;
}

.collapsible__header {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.collapsible__content ul {
    padding-left: 10px;
    background-color: var(--background-light);
    border-radius: 0 0 3px 3px;
}

.collapsible__header::after {
    content: "+";
    position: relative;
    right: 10px;
}

.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.collapsible--open .collapsible__header::after {
    content: "-";
}

.collapsible--open .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* Content styles - To make inner content look better */
.collapsible__header p {
    font-size: medium;
}

.collapsible__content p {
    font-size: small;
    margin: 10px;
}
*/ .tgl {
    display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}
.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
    background: var(--primary);
}
.preview_nav ul {
    list-style: none;
    /* padding: 0; */
    color: var(--alternate);
}
.menu_with_oparations {
    list-style: none;
    padding: 0;
}
.menu_with_oparations li {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    background-color: var(--background-light);
    padding: 0.5rem 1rem;
    margin-bottom: 0.4rem;
    border-radius: 0.3rem;
}
.menu_with_oparations li ul {
    padding: 0;
    border-left: 1px solid var(--alternate-darker);
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}
.prev-menu-list {
    padding: 0;
}
.prev-menu-list li {
    background-color: var(--background-navcolor-light);
    color: var(--background);
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}
.dropdown-menu-prev li {
    background-color: var(--body);
}
.popup {
    position: fixed;
    min-width: 50vw;
    background: var(--background-light);
    padding: 2rem 1.7rem;
    z-index: 1;
    max-width: 90vw;
    transform: translate(-50%);
    max-height: 100vh;
    overflow-y: scroll;
    top: 40%;
    /* height: 90vh; */
    left: 50%;
    /* transform: translateX(-50%); */
    border-radius: 0.4rem;
}
a {
    color: var(--background-light);
}
.form-control::placeholder {
    color: var(--alternate);
    opacity: 1;
}
.menu-active,
.menu-active > * {
    color: var(--primary) !important;
}
.logo img {
    max-height: 200px;
}
.input-group-addon {
    border-radius: var(--border-radius-md);
    font-size: 1em;
    padding: 0.25rem 0.75rem 0.35rem 0.75rem;
    background-color: var(--foreground);
    border-color: var(--separator);
    color: var(--body);
}
.input-group-addon {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
/* Carousel */
.carousel-wrap {
    position: relative;
}

.carousel-wrap:hover .owl-prev {
    opacity: 1;
}
.carousel-wrap:hover .owl-next {
    opacity: 1;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-nav i {
    font-size: 40px;
}
.owl-prev,
.owl-next {
    position: absolute;
    background: var(--primary) !important;
    padding: 0.5rem !important;
    border-radius: 0.3rem;
    top: -45px;
    opacity: 0.1;
    transition: all 0.4s ease;
}
/* .owl-prev i,
.owl-next i {
    font-size: 16px;
} */
.owl-nav .owl-prev {
    left: 10px;
}

.owl-nav .owl-next {
    right: 10px;
}
.owl-carousel .owl-item img {
    min-width: 100%;
    max-height: 100%;
}
.owl-dots {
    display: none;
}
.owl-carousel .item {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.owl-item h4 {
    background: rgb(172, 176, 176);
    background: linear-gradient(
        90deg,
        rgba(172, 176, 176, 0.9660597515373337) 30%,
        rgba(255, 255, 255, 0) 100%
    );
    color: #000;
}
.mobile-menu-toggle {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 80px;
    left: 15px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.2rem;
    z-index: 999;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    border-radius: 0.5px;
    background-color: var(--primary-darker);
    transition: 0.4s;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Initially hide the close button */
}
/* Media query for screens narrower than 724px */
@media (max-width: 724px) {
    .close-button {
        display: block; /* Display the close button when the menu is open */
    }
    .navbar-collapse {
        display: none; /* Hide the main menu */
    }

    .mobile-menu-toggle {
        display: block; /* Display the hamburger menu */
    }

    .navbar-expand-lg .navbar-nav.header__navbar {
        flex-direction: column; /* Stack menu items vertically */
    }

    .navbar-expand-lg .navbar-nav.header__navbar li {
        margin: 10px 0; /* Add spacing between menu items */
    }
}
.show {
    display: block;
}
.mobile-menu {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    width: 100% !important;
    z-index: 99999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-theme);
}
