* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: "SolaimanLipi", Arial, sans-serif !important; */
    font-family: "Kalpurush", Arial, sans-serif !important;
    background-color: #0000ff0d;
}
nav .accordion-content {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}
.sidebar-menu .accordion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Add this CSS to your existing stylesheet */
.mobile-menu-toggle {
    display: none; /* Hide the hamburger menu initially */
    cursor: pointer;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: var(--site-text);
    transition: 0.4s;
}

.sidebar-menu {
    width: 100vw;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    background-color: var(--site-primary);
    transition: left 0.3s;
    z-index: 1000;
    overflow-y: scroll;
}

.sidebar-menu-list {
    padding: 20px;
    list-style-type: none;
}

.sidebar-menu-list a {
    color: var(--site-text);
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

/* Media query for screens narrower than 724px */
@media (max-width: 790px) {
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    background: var(--site-secondary);
    color: var(--site-text);
    padding: 0.6rem;
    line-height: 11px;
    border-radius: 50%;
}
#mobile-menu-toggle {
    /* position: absolute; */
    background-color: var(--site-primary);
    padding: 0.6rem 0.4rem;
    border-radius: 0.3rem;
    left: 10px;
    top: 60px;
    z-index: 999;
}
.mobile-nav {
    display: none;
    background-color: var(--bs-gray-200);
    padding: 0.35rem;
    margin-bottom: 0.2rem;
    justify-content: end;
}
/* Media query for screens narrower than 724px */
@media (max-width: 790px) {
    .mobile-nav {
        display: flex;
    }
    .mobile-menu-toggle {
        display: block; /* Display the hamburger menu */
    }

    .navbar-collapse {
        display: none; /* Hide the main menu */
    }

    .sidebar-menu {
        left: -100vw; /* Hide the sidebar off-screen initially */
    }

    .close-button {
        display: block; /* Display the close button when the menu is open */
    }
    .navbar {
        display: none;
    }
}

.container.main-container {
    background-color: #fff;
    border: 2px solid #0000;
    box-shadow: 8px 19px 18px 2px #001e6612;
    border-radius: 3px;
}
.school__others__information {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header__logo {
    max-height: 155px;
}
.header__navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navbar-nav.header__navbar li.active {
    background-color: #0000000f;
    border-radius: 0.3rem;
}
.site__footer {
    border-top: 4px solid var(--primary-color);
    background-color: #6c97da33;
}
.footer__bottom {
    background-color: var(--site-primary);
    border-top: 4px solid var(--site-secondary);
}

/* Carousel */
.carousel-wrap {
    position: relative;
}

.carousel-wrap:hover .owl-prev {
    opacity: 1;
}
.carousel-wrap:hover .owl-next {
    opacity: 1;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-nav i {
    font-size: 40px;
}
.owl-prev,
.owl-next {
    position: absolute;
    background: #48484829 !important;
    padding: 0.5rem !important;
    border-radius: 0.3rem;
    top: -45px;
    opacity: 0.1;
    transition: all 0.4s ease;
}
.owl-nav .owl-prev {
    left: 10px;
}

.owl-nav .owl-next {
    right: 10px;
}
.owl-carousel .owl-item img {
    min-width: 100%;
    max-height: 100%;
}
.list-icon {
    position: relative;
}
.list-icon::before {
    content: "";
    width: 6px;
    background-color: #000;
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
    top: 15px;
    left: 4px;
}
.image-box {
    padding: 0.7rem 1rem;
    border: 1px solid #a8a7a7;
    border-radius: 0.32rem;
    background-color: #e1eaf8;
    color: #000000;
    transition: all 0.3s ease;
}
.image-box:hover {
    box-shadow: 0px -10px 19px -10px #04315ea6;
}
.about-list {
    padding-left: 1.3rem;
    list-style: none;
}
.about-list a {
    text-decoration: none;
    color: #000000;
}
.about-list .list-icon::before {
    top: 8px;
    left: -12px;
}
/* .gallery {
    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: center;
}
.gallery img {
    max-width: 205px;
} */
.Header__top_image img {
    max-width: 100%;
}
.navbar-nav.header__navbar li .dropdown-menu-prev {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    display: flex;
    transition: all 0.4s ease-in-out;
    padding: 0.5rem 0.4rem;
    z-index: 999;
    width: 220px;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
}
.navbar-nav.header__navbar li .dropdown-menu-prev {
    padding: 1.2rem 0.75rem;
    color: #000;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0.3rem;
}
.navbar-nav.header__navbar li .dropdown-menu-prev li {
    padding: 0.2rem 0;
    transition: all 0.3s ease-in-out;
}
.navbar-nav.header__navbar li .dropdown-menu-prev li:hover {
    padding: 0.2rem 0.2rem;
    border-left: 4px solid var(--site-secondary);
}
/* header .nav-item {
    position: relative;
} */
.navbar-nav.header__navbar li:hover .dropdown-menu-prev {
    opacity: 1;
    transform: scaleY(1);
    height: auto;
}
.navbar-nav.header__navbar li a {
    position: relative;
    padding: 0.3rem.5rem;
}
.navbar-nav.header__navbar li a.active {
    background-color: var(--site-secondary);
    border-radius: 0.2rem;
    color: #fff;
}
.navbar a {
    text-decoration: none;
    color: var(--site-text);
}
.navbar-nav.header__navbar li .dropdown-menu-prev {
    padding: 1.2rem 0.75rem;
    color: #000;
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 0.3rem;
    border: 1px solid #e9328d;
    background-color: var(--site-primary);
}
.list-group.notice-list {
    max-height: 340px;
    overflow-y: scroll;
}
.notice .list-group-item {
    margin-top: 0.4rem;
    transition: all 0.3s ease;
    background-color: #f7f7f7;
}
.notice a {
    color: #000;
    text-decoration: none;
}
.notice .list-group-item:hover {
    background-color: var(--site-secondary);
    color: var(--site-text);
}
@media (min-width: 768px) {
    .align-md-start {
        align-items: start;
    }
    .align-md-end {
        align-items: end;
    }
    .align-md-center {
        align-items: center;
    }
}
@media (max-width: 640px) {
    .align-sm-center {
        /* display: flex; */
        align-items: center;
    }
    .owl-carousel .item {
        height: 230px !important;
    }
}
